.App {
  min-height: 100vh;
  text-align: center;
  background-color: #e8f0f2;
  color: #343a40;
}

header {
  background-color: #053742;
  color: #e8f0f2;
  width: 100%;
  height: 7rem;

  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.test {
  height: 200vh;
}

.home {
  height: 100%;
  width: 100%;
  padding-left: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trip-card {
  display: flex;
  width: 400px;
  align-content: center;
  justify-content: space-between;
  margin-top: 30px;
}

.pic-grid {
  width: calc(60vw);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8);
  grid-gap: 15px;
}

.pictures {
  border-radius: 5px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  object-fit: cover;
  width: 100%;
  height: 250px;
}
