// // change the theme

$theme-colors: (
  'primary': #053742,
  'secondary': #39a2db4b,
  'success': #28a745,
  'info': rgba(35, 131, 131, 0.801),
  'warning': #ffc107,
  'danger': tomato,
  'light': #e8f0f2,
  'dark': #343a40,
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
